name: Build pull request

on:
  workflow_dispatch:
  pull_request:
    types:
      - labeled
      - synchronize

jobs:
  build:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'OK to test') }}
    strategy:
      matrix:
        label:
          - ubuntu-latest
          - macos-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.label }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2
      - uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          pixi-version: v0.63.2

      - name: Build packages
        shell: bash
        run: pixi run build-all
        env:
          RATTLER_BUILD_ENABLE_GITHUB_INTEGRATION: true
          RATTLER_BUILD_COLOR: always
