name: Build and upload packages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  build:
    strategy:
      matrix:
        label:
          - ubuntu-latest
          - macos-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.label }}
    env:
      DATA_FILE: data/failed-compatibility-${{ matrix.label }}.json
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2
      - uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          pixi-version: v0.63.2

      - name: Configure git
        run: pixi run configure-git

      - name: Build packages
        shell: bash
        run: pixi run build-all
        env:
          RATTLER_BUILD_ENABLE_GITHUB_INTEGRATION: true
          RATTLER_BUILD_COLOR: always

      - name: Commit changes to failed-compatibility.json
        run: pixi run commit-changes ${{ env.DATA_FILE }}
        if: always()

      - name: Upload all packages
        shell: bash
        run: pixi run upload --channel modular-community
