name: Remove Incompatible Packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 17 * * *" # 9 AM PST

permissions:
  contents: write
  pull-requests: write

jobs:
  check-incompatible-packages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2
      - uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          pixi-version: v0.63.2

      - name: Configure git
        run: pixi run configure-git

      - name: Run compatibility check script
        run: pixi run remove-incompatible-packages
        env:
          GITHUB_REPOSITORY: "${{ github.repository }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
